{%  extends 'index.html' %}
{% block content %}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">User Profile</h1>


            </div>
            <!-- /.container-fluid -->

            <div class="container pb-5">
                <div class="row justify-content-center">

                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg 11">
                                <h4 class="mb-4">Personal Details</h4>
                            </div>
                            <div class="col-lg-1">


                                <a alt="Edit details" href="{% url 'profile' %}"> <i class="fas fa-edit"></i></a>
                            </div>
                        </div>

                        {% if messages %}
                            <ul class="messages" style="padding-left: 0px">
                                {% for message in messages %}
                                    <div class="alert alert-success alert-dismissible fade show"
                                         role="alert">
                                        <svg class="bi flex-shrink-0 me-2" width="24"
                                             height="24" role="img" aria-label="Success:">
                                            <use xlink:href="#check-circle-fill"/>
                                        </svg>
                                        <strong>{{ message }}</strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if userForm.errors %}
                            {% for field in userForm %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show"
                                         role="alert">
                                        <strong>{{ error|escape }}</strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in userForm.non_field_errors %}
                                <div class="alert alert-danger alert-dismissible fade show"
                                     role="alert">
                                    <strong>{{ error|escape }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if profileForm.errors %}
                            {% for field in profileForm %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show"
                                         role="alert">
                                        <strong>{{ error|escape }}</strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in profileForm.non_field_errors %}
                                <div class="alert alert-danger alert-dismissible fade show"
                                     role="alert">
                                    <strong>{{ error|escape }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if userForm.errors %}
                            {% for field in userForm %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show"
                                         role="alert">
                                        <strong>{{ error|escape }}</strong>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in userForm.non_field_errors %}
                                <div class="alert alert-danger alert-dismissible fade show"
                                     role="alert">
                                    <strong>{{ error|escape }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <fieldset disabled>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationDefault01">Username</label>
                                    {#                                        <input type="text" class="form-control" id="validationDefault01"#}
                                    {#                                            placeholder="First name" value="Mark" required>#}
                                    {{ userForm.username }}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset disabled>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationDefault01">First name</label>
                                    {#                                        <input type="text" class="form-control" id="validationDefault01"#}
                                    {#                                            placeholder="First name" value="Mark" required>#}
                                    {{ userForm.first_name }}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset disabled>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationDefault02">Last name</label>
                                    {{ userForm.last_name }}
                                    {#                                        <input type="text" class="form-control" id="validationDefault02"#}
                                    {#                                            placeholder="Last name" value="Otto" required>#}
                                </div>
                            </div>
                        </fieldset>
                        <fieldset disabled>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationDefault02">Last name</label>
                                    {{ userForm.email }}
                                    {#                                        <input type="text" class="form-control" id="validationDefault02"#}
                                    {#                                            placeholder="Last name" value="Otto" required>#}
                                </div>
                            </div>
                        </fieldset>
                        {#                            <fieldset disabled>#}
                        {#                                <div class="form-row">#}
                        {#                                    <div class="col-md-12 mb-3">#}
                        {#                                        <label for="validationDefaultUsername">Email</label>#}
                        {#                                        <div class="input-group">#}
                        {#                                            <div class="input-group-prepend">#}
                        {#                                                <span class="input-group-text" id="inputGroupPrepend2">@</span>#}
                        {#                                            </div>#}
                        {#                                            <input type="email" class="form-control" id="validationDefaultUsername"#}
                        {#                                                placeholder="Email" aria-describedby="inputGroupPrepend2" required>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </fieldset>#}

                        <h4 class="mt-5 mb-4">Other Details</h4>
                        <div class="form-row" disabled>
                            <div class="col-md-6 mb-3">
                                <label for="validationDefault03">Company</label>
                                <input type="text" class="form-control" id="validationDefault03"
                                       placeholder="Company Name" disabled value="{{ profileForm.company.value }}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationDefault04">Phone</label>
                                <input type="tel" class="form-control" id="validationDefault04" placeholder="Phone #"
                                       disabled value="{{ profileForm.telephone.value }}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3" disabled="true">
                                <label for="validationDefault03">Language</label>
                                <input type="text" class="form-control" id="validationDefault03"
                                       placeholder="Select language" disabled
                                       value="{{ profileForm.instance.language.symbol }}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationDefault04">Currency</label>
                                <input type="text" class="form-control" id="validationDefault04"
                                       placeholder="Select currency" disabled
                                       value="{{ profileForm.user_currency.value }}">
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="col-md-6 mb-3">
                                <label for="validationDefault04">Risk %</label>
                                <input type="text" class="form-control" id="validationDefault04" placeholder=""
                                       disabled value="{{ profileForm.stop_loss_pc.value }}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationDefault03">Max Invest %</label>
                                <input type="text" class="form-control" id="validationDefault03" placeholder="%"
                                       disabled value="{{ profileForm.max_invest_pc.value }}">
                            </div>
                        </div>
                        {#                        <div class="form-row">#}
                        {#                            <div class="col-md-6 mb-3">#}
                        {#                                <label for="validationDefault03">Assets</label>#}
                        {#                                <input type="text" class="form-control" id="validationDefault03" placeholder="Assets"#}
                        {#                                       disabled value="{{ profileForm.asset.value }}">#}
                        {#                            </div>#}
                        {#                            <div class="col-md-6 mb-3">#}
                        {#                                <label for="validationDefault04">Exchange</label>#}
                        {#                                <input type="text" class="form-control" id="validationDefault04" placeholder=""#}
                        {#                                       disabled value="{{ exchangeForm.exchange.value }}">#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="form-row">#}
                        {#                            <div class="col-md-6 mb-3">#}
                        {#                                <label for="validationDefault03">API Key</label>#}
                        {#                                <input type="text" class="form-control" id="validationDefault03" placeholder=""#}
                        {#                                       disabled value="{{ exchangeForm.api_key.value }}">#}
                        {#                            </div>#}
                        {#                            <div class="col-md-6 mb-3">#}
                        {#                                <label for="validationDefault04">Secret</label>#}
                        {#                                <input type="text" class="form-control" id="validationDefault04" placeholder=""#}
                        {#                                       disabled value="{{ exchangeForm.secret_key.value }}">#}
                        {#                            </div>#}
                        {#                        </div>#}

                        <div class="card shadow mb-4 mt-5">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Asset Details</h6>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <table class="table" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Symbol</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for asset in assets %}
                                            <tr>
                                                <td>{{ asset.asset.name }}</td>
                                                <td>{{ asset.asset.symbol }}</td>
                                                <td class="py-0 align-middle">
                                                    <div class="btn-group btn-group-sm">
                                                        {#                                                        <a href="{% url 'editExchange'  exchange.id  %}" class="btn btn-info"><i#}
                                                        {#                                                                class="fas fa-pencil-alt"></i></a>#}
                                                        <a href="{% url 'deleteAsset'  asset.id %}"
                                                           class="btn btn-danger"><i
                                                                class="fas fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% empty %}
                                            <li>Sorry, no assets in this list.</li>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td>
                                                <button class="btn btn-primary mt-3" type="button"
                                                        data-toggle="modal"
                                                        data-target="#modal-default1">Add Asset
                                                </button>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>

                                </div>

                            </div>
                        </div>
                        <div class="card shadow mb-4 mt-5">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Exchanges</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>API Key</th>
                                            <th>Secret Key</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for exchange in exchanges %}
                                            <tr>
                                                <td>{{ exchange.exchange }}</td>
                                                <td>{{ exchange.api_key }}</td>
                                                <td>{{ exchange.secret_key }}</td>
                                                <td class="py-0 align-middle">
                                                    <div class="btn-group btn-group-sm">
                                                        {#                                                        <a href="{% url 'editExchange'  exchange.id  %}" class="btn btn-info"><i#}
                                                        {#                                                                class="fas fa-pencil-alt"></i></a>#}
                                                        <a href="{% url 'deleteExchange'  exchange.id %}"
                                                           class="btn btn-danger"><i
                                                                class="fas fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% empty %}
                                            <li>Sorry, no exchanges in this list.</li>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td>
                                                {% if exchanges|length == 3 %}
                                                    <button class="btn btn-primary mt-3" disabled type="button"
                                                            data-toggle="modal"
                                                            data-target="#modal-default">Add Exchange
                                                {% else %}

                                                    <button class="btn btn-primary mt-3" type="button"
                                                            data-toggle="modal"
                                                            data-target="#modal-default">Add Exchange
                                                {% endif %}
                                                </button>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {#                    <div class="col-lg-8 pt-5">#}
                        {#                        <h4 class="mb-4">Asset Details</h4>#}
                        {#                        <div class="form-row">#}
                        {#                            {% for asset in assets %}#}
                        {#                                <div class="col-md-4 mb-3">#}
                        {#                                    <label for="validationDefault04">Asset {{ forloop.counter }}</label>#}
                        {#                                    <input type="text" class="form-control" id="validationDefault04" placeholder=""#}
                        {#                                           disabled value="{{ asset }}">#}
                        {#                                </div>#}
                        {#                            {% empty %}#}
                        {#                                <li>Sorry, no assets in this list.</li>#}
                        {#                            {% endfor %}#}
                        {#                        </div>#}
                        {#                        <div class="card shadow mb-4 mt-5">#}
                        {##}
                        {#                            <div class="card-header py-3">#}
                        {#                                <h6 class="m-0 font-weight-bold text-primary">Exchanges</h6>#}
                        {#                            </div>#}
                        {#                            <div class="card-body">#}
                        {#                                <div class="table-responsive">#}
                        {#                                    <table class="table" id="dataTable" width="100%" cellspacing="0">#}
                        {#                                        <thead>#}
                        {#                                        <tr>#}
                        {#                                            <th>Name</th>#}
                        {#                                            <th>API Key</th>#}
                        {#                                            <th>Secret Key</th>#}
                        {#                                        </tr>#}
                        {#                                        </thead>#}
                        {#                                        <tbody>#}
                        {#                                        {% for exchange in exchanges %}#}
                        {#                                            <tr>#}
                        {#                                                <td>{{ exchange.exchange }}</td>#}
                        {#                                                <td>{{ exchange.api_key }}</td>#}
                        {#                                                <td>{{ exchange.secret_key }}</td>#}
                        {##}
                        {#                                            </tr>#}
                        {#                                        {% empty %}#}
                        {#                                            <li>Sorry, no exchanges in this list.</li>#}
                        {#                                        {% endfor %}#}
                        {##}
                        {##}
                        {#                                        </tbody>#}
                        {#                                        <tfoot>#}
                        {#                                        </tfoot>#}
                        {#                                    </table>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {##}
                        {#                        #}
                        {#                    </div>#}
                        {#                        <div class="row justify-content-between">#}
                        {#                            <a class="btn btn-primary" href="{% url 'profile' %}">Edit details</a>#}
                        {#                        </div>#}
                    </div>
                </div>

            </div>
            <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title">Add exchange</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationDefault04">Exchange</label>
                                        {{ exchangeForm.exchange }}
                                        {#                                    <input type="text" class="form-control" id="validationDefault04" placeholder="" required>#}
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="validationDefault04">API key</label>
                                        {{ exchangeForm.api_key }}
                                        {#                                    <input type="text" class="form-control" id="validationDefault04" placeholder="" required>#}
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="validationDefault04">Secret key</label>
                                        {{ exchangeForm.secret_key }}
                                        {#                                    <input type="text" class="form-control" id="validationDefault04" placeholder="" required>#}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                </button>
                                <button type="submit" name="ExchangeFormSubmit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-default1">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title">Add asset</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationDefault04">Asset</label>
                                        {{ assetForm.asset }}
                                        {#                                    <input type="text" class="form-control" id="validationDefault04" placeholder="" required>#}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                </button>
                                <button type="submit" name="AssetFormSubmit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

{% endblock %}