{% extends 'index.html' %}
{% block content %}           <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">User Profile</h1>

    </div>
    <!-- /.container-fluid -->

    <div class="container pb-5">
        <div class="row justify-content-center">

            <form method="POST" class="col-lg-8">
                {% csrf_token %}
                <h4 class="mb-4">Personal Details</h4>
                <fieldset>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault01">Username</label>
                            {#                                        <input type="text" class="form-control" id="validationDefault01"#}
                            {#                                            placeholder="First name" value="Mark" required>#}
                            {{ userForm.username }}
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault01">First name</label>
                            {#                                        <input type="text" class="form-control" id="validationDefault01"#}
                            {#                                            placeholder="First name" value="Mark" required>#}
                            {{ userForm.first_name }}
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault02">Last name</label>
                            {{ userForm.last_name }}
                            {#                                        <input type="text" class="form-control" id="validationDefault02"#}
                            {#                                            placeholder="Last name" value="Otto" required>#}
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault02">Last name</label>
                            {{ userForm.email }}
                            {#                                        <input type="text" class="form-control" id="validationDefault02"#}
                            {#                                            placeholder="Last name" value="Otto" required>#}
                        </div>
                    </div>
                </fieldset>
                {#                            <fieldset disabled>#}
                {#                                <div class="form-row">#}
                {#                                    <div class="col-md-12 mb-3">#}
                {#                                        <label for="validationDefaultUsername">Email</label>#}
                {#                                        <div class="input-group">#}
                {#                                            <div class="input-group-prepend">#}
                {#                                                <span class="input-group-text" id="inputGroupPrepend2">@</span>#}
                {#                                            </div>#}
                {#                                            <input type="email" class="form-control" id="validationDefaultUsername"#}
                {#                                                placeholder="Email" aria-describedby="inputGroupPrepend2" required>#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                </div>#}
                {#                            </fieldset>#}

                <h4 class="mt-5 mb-4">Other Details</h4>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault03">Company</label>
                        {{ profileForm.company }}
                        {#                                    <input type="text" class="form-control" id="validationDefault03" placeholder="Company Name" required>#}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault04">Phone</label>
                        {{ profileForm.telephone }}
                        {#                                    <input type="tel" class="form-control" id="validationDefault04" placeholder="Phone #" required>#}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault03">Language</label>
                        {{ profileForm.language }}
                        {#                                    <input type="text" class="form-control" id="validationDefault03" placeholder="Select language" required>#}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault04">Currency</label>
                        {{ profileForm.user_currency }}
                        {#                                    <input type="text" class="form-control" id="validationDefault04" placeholder="Select currency" required>#}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault04">Risk %</label>
                        {{ profileForm.stop_loss_pc }}
                        {#                                    <input type="text" class="form-control" id="validationDefault04" placeholder="" required>#}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault03">Max Invest %</label>
                        {{ profileForm.max_invest_pc }}
                        {#                                    <input type="text" class="form-control" id="validationDefault03" placeholder="%" required>#}
                    </div>
                </div>


                <div class="row justify-content-between">
                    <a class="btn btn-outline-primary" href="{% url 'dashboard' %}" type="button">Cancel</a>
                    <button class="btn btn-primary" name="UserProfileFormSubmit" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>


    </div>
    <!-- End of Main Content -->

{% endblock %}