{% extends 'index.html' %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Update Password</h1>


    </div>
    <!-- /.container-fluid -->

    <div class="container pb-5">
        <div class="row justify-content-center">

            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg 11">
                        <h4 class="mb-4">Password Details</h4>
                    </div>
                </div>

                {% if messages %}
                    <ul class="messages" style="padding-left: 0px">
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissible fade show"
                                 role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24"
                                     height="24" role="img" aria-label="Success:">
                                    <use xlink:href="#check-circle-fill"/>
                                </svg>
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger alert-dismissible fade show"
                                 role="alert">
                                <strong>{{ error|escape }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade show"
                             role="alert">
                            <strong>{{ error|escape }}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault03">Old password</label>
                            {{ form.old_password }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault03">New password</label>
                            {{ form.new_password1 }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault03">Confirm password</label>
                            {{ form.new_password2 }}
                        </div>
                    </div>
                    <div class="form-row justify-content-between">
                        <a class="btn btn-outline-primary" href="{% url 'dashboard' %}" type="button">Cancel</a>
                        <button class="btn btn-primary" name="UserProfileFormSubmit" type="submit">Submit
                        </button>
                    </div>

                </form>
            </div>
        </div>

    </div>
    <!-- End of Main Content -->
{% endblock %}